WS_SCHEME="wss"
WS_ADDR="ws.prod.blockchain.info"
WS_PATH="/mercury-gateway/v1/ws"
WS_ORIGIN_HEADER="https://exchange.blockchain.com"
PAIRS="BTC-USD,BTC-EUR,ETH-USD,ETH-EUR"
KAFKA_SERVER_ADDR="localhost"
KAFKA_GROUP_ID="myGroup"